alias vup='vagrant up'
alias vha='vagrant halt'
alias vdes='vagrant destroy'
alias vre='vagrant reload'
alias vss='vagrant ssh'
alias vst='vagrant status'
alias vpro='vagrant provision'

export VAGRANT_DEFAULT_PROVIDER={{vagrant_default_provider}}
