export PS1='{{shell_ps1}}'
export PATH=$PATH:$HOME/bin
export HISTSIZE=1000000
export HISTFILESIZE=1000000
export EDITOR=vim

{% if ansible_os_family == 'Darwin' %}
{% set ls='gls' %}
if [ -f $(brew --prefix)/etc/bash_completion ]; then
  . $(brew --prefix)/etc/bash_completion
fi
test -e "${HOME}/.iterm2_shell_integration.bash" && source "${HOME}/.iterm2_shell_integration.bash"
{% else %}
{% set ls='ls' %}
{% endif %}

alias l='{{ls}} -alF --group-directories-first --color=always'
alias ll='{{ls}} -lF --group-directories-first --color=always'

for f in $(find ${HOME}/.bash_completion.d/ -maxdepth 1 -type f -o -type l); do
  . $f
done

{% for c in ['alpine','centos','ubuntu','ubuntu:trusty'] %}
alias .{{c|replace(":","-")}}='docker run --rm -ti --name {{c|replace(":","-")}}-$(env LC_CTYPE=C tr -dc "a-z0-9" < /dev/urandom | head -c 10) -h {{c|replace(":","-")}} -v $(dirname ${SSH_AUTH_SOCK) -e SSH_AUTH_SOCK=$SSH_AUTH_SOCK -v $(pwd):/mnt/$(basename $(pwd)) {{c}} "$@"'
{% endfor %}
